In [ ]:
myset = set()
myset.add(1)
myset.add(2)
myset.add(2)
print(myset)

In [ ]:
mylist = [1,1,1,1,2,2,2,3,3,4,5]
set(mylist)

Notice how sets only allow one object to be repeated once. You cannot have the same value in a set.